<h1>User has been create-fast</h1>

<p>
  <strong>Email:</strong>
  <%= @email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @birthday %>
</p>

<%= link_to 'Index', users_path %>
